.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  position: absolute;
  width: 300px;
  padding: 16px;
  text-align: center;
}

.button-container {
  margin-top: 16px;
}

.login-button {
  margin-right: 8px;
}
