p {
  font-size: 18px;
  line-height: 1;
}

h1 {
  font-size: 36px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0px solid #d9d9d9;
  width: 100%;
}
